* {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Poppins";
}

/*
* Navbar
*/

.navbar {
  height: 80px;
  width: 100vw;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  padding: 0 70px;
}
.logo {
  width: 100px;
}
.line {
  float: left;
  border-left: 2px solid #fff;
  height: 50px;
  margin-left: -200;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.list-item {
  font-size: 14px;
  text-decoration: none;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #a711af;
  color: #fff;
}
.button-small {
  position: absolute;
  right: 70px;
  top: 25px;
}

/*
* Hero Section
*/

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
h1 {
  font-size: 60px;
  width: 700px;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 25px;
  font-weight: 500;
}
.button-large {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  padding: 15px 30px;
}

@media (max-width: 964px) {
  .list-item {
    font-size: 12px;
  }
}
@media (max-width: 854px) {
  .list-item {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .list-item {
    display: none;
  }
  .line {
    display: none;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
  .button-large {
    font-size: 20px;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 40px;
    width: 500px;
  }
  p {
    font-size: 16px;
  }
  .button-large {
    font-size: 16px;
  }
} ;



